USE [master]
GO
/****** Object:  Database [AutomateMe]    Script Date: 01/27/2018 1:44:27 AM ******/
CREATE DATABASE [AutomateMe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutomateMe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AutomateMe.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AutomateMe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AutomateMe_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutomateMe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutomateMe]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 01/27/2018 1:44:27 AM ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [AutoDash]    Script Date: 01/27/2018 1:44:27 AM ******/
CREATE USER [AutoDash] FOR LOGIN [AutoDash] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_owner] ADD MEMBER [AutoDash]
GO
ALTER ROLE [db_datareader] ADD MEMBER [AutoDash]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [AutoDash]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 01/27/2018 1:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Gender] [nvarchar](6) NOT NULL,
	[MaritialStatus] [nvarchar](10) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[IsCurrent] [bit] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](13) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
